body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Mainheaderpart starts */
header {
    background-color: #E1C9C0; 
    padding: 10px;
    border-bottom-left-radius: 260px; 
    border-bottom-right-radius: 260px; 
    box-shadow: 0 0.08rem 0.15rem black;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family: Josefin Sans;
}

.navlist {
    list-style: none;
    margin: 0; 
    padding: 0;
    margin-right: 50px;
}

.navlist li {
    display: inline;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0.08rem 0.15rem black;
    border-radius: 45px;
}

.logo {
    width:150px; 
    height: auto; 
    margin-left: 50px;
}

.navlist a{
    text-decoration: none;
    color:black
}

/* Mainheader part ends */


/* Heading of About Us  Starts*/

.box {
    text-align: center;
    color: white;
    font-family: Satisfy;
}

.box h3 {
    background-color: #A8BAC3;
    padding: 20px 30px;
    box-shadow: 0 0.08rem 0.15rem black;
    position: relative;
    margin: 75px 450px 95px;
    font-size: 40px;
    text-shadow:0 0.08rem 0.15rem black;
    border-radius: 30px;
    box-shadow: 0 0.08rem 0.15rem black;
}

/* Heading of About Us Ends */



/* Objective Starts */

.obj-image img{
    width: 350px;
    height:350px;
    border-radius: 50%;
    margin-left: 0px;
    margin-top:0px;
    box-shadow: 0 0.08rem 0.15rem black;
    z-index: -1;
    position: absolute;
}

.obj-message{
    font-family: Josefin Sans;
    border-radius: 30px;
    padding:20px 20px;
    box-shadow: 0 0.08rem 0.15rem black;
    background-color: white;
    width:400px;
    margin-top: 70px;
    right:20px;
    position: absolute;
}

.obj-message h3{
    text-align: center;
}

.obj-message p{
    text-align: left;
}

.obj{
    position: relative;
    box-shadow: 0 0.08rem 0.15rem black;
    margin: 50px auto;
    width: 650px;
    margin-bottom: 600px;
}



/* Objective ends */



/* Image of India starts */

#ind-img {
    height: 450px;
    width: 100%;
    margin-bottom: 100px;
}

/* Image of India ends */



/* Vision Starts */

.vis-image img{
    width: 350px;
    height:350px;
    border-radius: 50%;
    margin-left: 0px;
    margin-top:0px;
    box-shadow: 0 0.08rem 0.15rem black;
    z-index: -1;
    position: absolute;
}

.vis-message{
    font-family: Josefin Sans;
    border-radius: 30px;
    padding:20px 20px;
    box-shadow: 0 0.08rem 0.15rem black;
    background-color: white;
    width:400px;
    margin-top: 70px;
    right:20px;
    position: absolute;
}

.vis-message h3{
    text-align: center;
}

.vis-message p{
    text-align: left;
}

.vis{
    position: relative;
    box-shadow: 0 0.08rem 0.15rem black;
    margin: 50px auto;
    width: 650px;
    margin-bottom: 575px;
}



/* Vision ends */


/* Image of Italy starts */

#italy-img {
    height: 450px;
    width: 100%;
    margin-bottom: 100px;
}

/* Image of Italy ends */



/* Team Starts */

.team-image img{
    width: 200px;
    height:200px;
    border-radius: 50%;
    margin-left: 0px;
    margin-top:0px;
    box-shadow: 0 0.08rem 0.15rem black;
    z-index: 1;
    position: absolute;
}

.team-message{
    font-family: Josefin Sans;
    border-radius: 30px;
    padding:20px 20px;
    box-shadow: 0 0.08rem 0.15rem black;
    background-color: white;
    width:400px;
    margin-top: 70px;
    right:20px;
    left:175px;
    position: absolute;
    /* z-index: -1; */
}

.team-message h3{
    text-align: center;
}

.team-message p{
    text-align: left;
}

.team{
    position: relative;
    box-shadow: 0 0.08rem 0.15rem black;
    margin: 50px auto;
    width: 650px;
    margin-bottom: 300px;
}



/* Team ends */


/* Image of Italy starts */

#merci {
    height: 700px;
    width: 100%;
}

/* Image of Italy ends */




/* Footer Starts */

.footer{
    width:100%;
    height: 300px;
    z-index: -1;
    background-color:#A8BAC3;
    border-top-left-radius: 260px;
    border-top-right-radius: 260px;
    margin-bottom: 0;
    position: relative;
}

.left{
    font-family: Josefin Sans;
    margin-left:150px;
    position: absolute;
    margin-bottom: 50px;
    color: white;
    line-height: 35px;
    padding:50px
}

.left a{
    text-decoration: none;
    color:black;
    padding: 15px;
    background-color: #E1C9C0;
    border:2px solid white;
    cursor:pointer;
}



.imging{
    width:270px; 
    height: auto; 
    margin-left: 700px;
    position:absolute;
}


/* Footer ends */